p.absolute-text(ng-bind-html="binaryLetters")
.main-container
	//- hgroup
	//- 	h1 Bachillerato PWApp
	//- 	h3 by Sebastián Schuchhardt
	.main-content
		block content
	footer
		a(href="http://www.2brains.cl" target="_blank")
			img(src="http://2brains.cl/static/img/logo-2brains.jpg")